<div class="background-container">
  <div class="container">
    <mat-card>
      <mat-card-header>
        <div class="header-section">
          <img src="app/assets/img/logo.jpg" alt="Imagem do Sistema" class="header-image"/>
          <h1 class="system-name">Nome</h1>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="header">
          <h6>Login</h6>
        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
          <div class="emailInput">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="Digite seu email"
                required
              />
              @if(!loginForm.controls['email'].valid){
                <mat-error>Insira um email válido</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="senhaInput">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                formControlName="senha"
                matInput
                [type]="hide ? 'password' : 'text'"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Toggle password visibility'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if(!loginForm.controls['senha'].valid){
                <mat-error>Insira uma senha válida</mat-error>
              }
            </mat-form-field>
            <div class="esqueceu-senha">
              <button mat-button class="text-link" routerLink="/auth/forgot-senha">
                Esqueceu a senha?
              </button>
            </div>
          </div>

          <div class="button-group">
            <button mat-flat-button color="primary" type="submit" [disabled]="loading">Login</button>
            <button mat-flat-button color="primary">Cadastro</button>
          </div>
        </form>
          @if(loading === true){
              <mat-spinner strokeWidth="5" diameter="80" class="tour-spinner"></mat-spinner>
          }
      </mat-card-content>
    </mat-card>
  </div>
</div>
